*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: gilroy;
}

html, body{
   height: 100%;
   width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:whitesmoke;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h2{
    font-size: 17px;
    border: 2px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: lightcyan;
}

#nav i{
    font-size: 16px;
    border: 2px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
    background-color:lightcyan;
}   

#nav h1{
    font-weight: 500;
    font-size: 22px ;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}

#btn2{
    border: none;
    background-color: orangered;
    color: black;
}

#main>h1{
    font-size: 180px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    height: 430px;
    width: 370px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%,-50%);
}

#img1{
    transform: translate(-50%,-50%) rotate(-50deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-40deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img4{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img5{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 17px;
}

#nav-part1:hover{
   cursor: pointer;}

#nav button:hover{
    cursor: pointer;
    background-color: sandybrown;
    color: bisque;
}

#btn2:hover{
    cursor: pointer;
    color: rgb(37, 153, 182);
}

#img1,
#img2,
#img3,
#img4,
#img5:hover{
    cursor: pointer;
}

.footer_social{
   display: flex;
   column-gap: 2.55rem;
   position: absolute;
   justify-content: space-between;
   bottom: 5%;
   left: 46%;

}

.footer_social-link{
    font-weight: 500;
    font-size: 22px;
    color: black; 
    bottom: 5%;
    left: 45%;
}






